@implements IDisposable

@page "/groups"
@page "/groups/add"
@page "/groups/edit"
@page "/groups/list"
@page "/groups/{Id:int}"
@page "/groups/{Id:int}/view"
@page "/groups/{Id:int}/edit"
@page "/groups/{Id:int}/group"
@page "/groups/{Id:int}/owner"

@inject IMenuService MenuService
@inject ITitleService TitleService
@inject NavigationManager Nav

<SyncedTitle Title="Manage Groups"></SyncedTitle>
<div class="flash-card  @GetDisplayClass(ControlMode.List)">

    <h2>Manage Groups</h2>

    <heading class="flex-row">
        <label></label>
        <label>Group Name</label>
        <label>Groups</label>
        <label># of Packs</label>
        <label># of Users</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="Group" Model="@GroupLayout" Data="@CurrentGroups"></MetadataControl>

    <h2>Group Controls</h2>
    <div class="link-list">
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Groups>(u => new() { Mode = ControlMode.Add }))"><i class="bi bi-person-plus" aria-hidden="true"></i>Add Group</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Activity>())"><i class="bi bi-activity" aria-hidden="true"></i>Group Activity</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Roles>())"><i class="bi bi-person-badge" aria-hidden="true"></i>Manage Roles</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Permissions>())"><i class="bi bi-lock" aria-hidden="true"></i>Manage Permissions</a>
    </div>
</div>


@if (CurrentGroup != null)
{

    <div class="group-edit flash-card @GetDisplayClass(ControlMode.Edit)">
        <div>
            <fieldset>
                <legend>Group Info</legend>
                <MetadataControl TModel="Group" Model="@InfoLayout" Data="[CurrentGroup]"></MetadataControl>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Extended Info</legend>
                <MetadataControl TModel="Group" Model="@ExtendedLayout" Data="[CurrentGroup]"></MetadataControl>
            </fieldset>
        </div>
        <div class="highlighted-link">
            <button class="deemphasize back" @onclick="(() => NavigationExtensions.NavigateTo<Pages.Admin.Groups>(Nav, u => new() { Mode = ControlMode.List }))"><span class="bi bi-chevron-left"></span>Back</button>
            @if(CurrentGroup.CanonicalFingerprint != null)
            {
                <a href="">Group Membership</a>
                <a href="">Group Packs</a>
            }
            <button class="cta" @onclick="() => CreateGroup()">Save</button>
        </div>

    </div>
    
    <div class="group-edit flash-card @GetDisplayClass(ControlMode.Group)">
    </div>


    <div class="group-edit flash-card @GetDisplayClass(ControlMode.Owner)">
    </div>
}


@code {

    [Category("Display")]
    public IEnumerable<Group>? CurrentGroups { get; set; }
    public ControlMode? Mode { get; set; }
    public ControlMode? PreviousMode { get; set; }
    public IEnumerable<PropertyMetadata>? GroupLayout { get; set; }
    public IEnumerable<PropertyMetadata>? InfoLayout { get; set; }
    public IEnumerable<PropertyMetadata>? ExtendedLayout { get; set; }
    [Parameter] public int? Id { get; set; }
    public Group? CurrentGroup { get; set; }

    protected void CreateGroup()
    {

    }

    [CascadingParameter(Name = "IsStaticRender")] public bool IsStaticRender { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GroupLayout = typeof(Pages.Admin.Groups).Metadata().Categories["Display"]?.ToList();
        InfoLayout = Group.Metadata.Groups["Group Info"]?.ToList();
        ExtendedLayout = Group.Metadata.Groups["Extended Info"]?.ToList();
        
        if (IsStaticRender) return;

        MenuService?.SetMenu(@<UserModel.Pages.Shared.Users />);
        Nav.LocationChanged += OnLocationChanged;
    }


    protected void SetControlMode()
    {
        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        ControlMode? newStep = ControlMode.List;
        if (segments.Count() == 2 && Id != null)
        {
            newStep = ControlMode.View;
        }
        else if (segments.Count() >= 2)
        {
            newStep = segments.Last().TryParse<ControlMode>() ?? ControlMode.List;
        }
        if (newStep != Mode)
        {
            PreviousMode = Mode;
            Mode = newStep;
            InvokeAsync(StateHasChanged);
        }

        
        if (Mode == ControlMode.List)
        {
            TitleService?.UpdateTitle("Manage Groups");
        }
        else if (Mode == ControlMode.Add)
        {
            if (CurrentGroup == null || CurrentGroup.CanonicalFingerprint != null)
            {
                CurrentGroup = new Group();
            }
            TitleService?.UpdateTitle("New Group");
        }
        else if (Mode == ControlMode.Edit)
        {
            TitleService?.UpdateTitle("Edit Group");
            if (Id != null)
            {
                if (CurrentGroup == null || CurrentGroup.Id != Id)
                {
                    //_ = SetCurrentUser();
                }
            }

        }
    }

    protected bool IsClosing = false;


    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (IsClosing) return;
        SetControlMode();
    }

    protected string? GetDisplayClass(ControlMode mode)
    {
        if (Mode == mode) return "animate-in";
        if (PreviousMode == mode) return "animate-out";
        // TODO: check what happens when switching from new mode to edit mode
        if (mode == ControlMode.Edit && Mode == ControlMode.Add) return "animate-in";
        if (mode == ControlMode.Edit && PreviousMode == ControlMode.Add) return "animate-out";
        return "hidden";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CurrentGroups = UserData.Generators.Groups.Generate();
        SetControlMode();
        InvokeAsync(StateHasChanged);
    }


    public void Dispose()
    {
        IsClosing = true;
        Nav.LocationChanged -= OnLocationChanged;
    }
}