@using System.Text.RegularExpressions
@using System.Globalization
@using DataLayer.Utilities.Extensions
@* AccordionSection.razor *@
<div class="accordion-item">
    <h4 name="@Title.ToSafe()" @onclick="Toggle" style="cursor: pointer;" class="@(IsExpanded ? "header-active" : "inactive") d-flex justify-content-between align-items-center border-bottom pb-2">
        <span>@Title</span>
        <i class="bi @(IsExpanded ? "bi-chevron-up" : "bi-chevron-down") text-muted"></i>
    </h4>

    <div class="@(IsExpanded ? "d-block" : "d-none") animate-fade-in">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsExpanded { get; set; }

    public void Toggle() => IsExpanded = !IsExpanded;



}