@attribute [SupportsType(typeof(Answer))]
@attribute [SupportsType(typeof(IEnumerable<Answer>))]
@implements IHasMeta

@code
{
    [Parameter] public IEnumerable<object?>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public Action<object?>? ValueChanged { get; set; }
    public List<Answer> Answers { get; set; } = new List<Answer>();
    public Card? Card { get; set; } = null;

    public ControlMode Mode
    {
        get
        {
            // TODO: declaring type
            return ControlMode.View;
        }
    }

    protected override void OnInitialized()
    {
        Card = Data?.ElementAt(0) as Card;
        Answers = Card?.Answers.ToList() ?? [];
        if (Card?.ResponseType == CardType.TrueFalse)
        {
            if (!Answers.Any(a => string.Equals(a.Value, "true", StringComparison.InvariantCultureIgnoreCase)))
            {
                Answers.Add(new Answer()
                {
                    Value = "True",
                    Content = "True"
                });
            }
            if (!Answers.Any(a => string.Equals(a.Value, "false", StringComparison.InvariantCultureIgnoreCase)))
            {
                Answers.Add(new Answer()
                {
                    Value = "False",
                    Content = "False"
                });
            }
        }
    }

}




@foreach (var answer in Answers)
{
    <input class="large-present" type="radio" value="@answer.Value ?? answer.Content" id="@answer.Content?.ToSafe()" name="@Card?.Content.ToSafe()" />
    <label for="@answer.Content?.ToSafe()" onclick="@(() => ValueChanged?.DynamicInvoke(answer))">@answer.Content</label>
}
