@using System.Timers
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{
    [Parameter] public IEnumerable<Card>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object?>? ValueChanged { get; set; }
    private IEnumerable<PropertyMetadata>? AnswerLayout;

    protected override void OnInitialized()
    {
        AnswerLayout = Card.Metadata.Categories["Answers"]?.ToList();
        // TODO: AnswerLayout
    }

}

@foreach (var card in Data ?? [])
{

    <div class="card-front @card.ResponseType-card-type">
        <div class="preview-inner">
            @if (card.ContentType == DataLayer.DisplayType.Image)
            {
                <img src="@card.Content" />
            }
            else if (card.ContentType == DataLayer.DisplayType.Audio)
            {
                <audio controls src="@card.Content"></audio>
            }
            else
            {
                <div class="preview-content">@(card.Content.Replace("\n", "<br/>"))</div>
            }
        </div>

        <div class="preview-footer">
            @if (card.ResponseType == DataLayer.CardType.FlashCard) // Flashcard mode
            {
            }
            else if (card.ResponseType == DataLayer.CardType.Short)
            {
                <input type="text" placeholder="Enter your best guess" />
            }
            else if (card.ResponseType == DataLayer.CardType.TrueFalse) // True/False
            {
                <MetadataControl ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, Card, object?>>(this, HandleAnswer))" TModel="Card" Model="@AnswerLayout" Data="Data"></MetadataControl>
            }
            else if (card.ResponseType == DataLayer.CardType.Multiple) // Multiple Choice
            {
                <MetadataControl ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, Card, object?>>(this, HandleAnswer))" TModel="Card" Model="@AnswerLayout" Data="Data"></MetadataControl>
            }
        </div>
    </div>
}


@code {

    private async Task HandleAnswer(Tuple<PropertyMetadata, Card, object?> selectedValue)
    {
        ValueChanged?.InvokeAsync(selectedValue.Item3);
    }

}