@attribute [SupportsType(typeof(Card))]
@attribute [SupportsType(typeof(IEnumerable<Card>))]
@implements IHasMeta

@code
{
    [Parameter] public IEnumerable<object?>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public Action<object?>? ValueChanged { get; set; }
    private IEnumerable<PropertyMetadata>? AnswerLayout;

    public IEnumerable<Card> Cards { get => Data?.Cast<Card>() ?? []; }

    protected override void OnInitialized()
    {
        AnswerLayout = Card.Metadata.Categories["Answers"]?.ToList();
        // TODO: AnswerLayout
    }

}

@foreach (var card in Cards)
{

    <div class="card-front @card.ResponseType-card-type">
        <div class="preview-inner">
            @if (card.ContentType == DisplayType.Image)
            {
                <img src="@card.Content" />
            }
            else if (card.ContentType == DisplayType.Audio)
            {
                <audio controls src="@card.Content"></audio>
            }
            else
            {
                <div class="preview-content">@(card.Content.Replace("\n", "<br/>"))</div>
            }
        </div>

        <div class="preview-footer">
            @if (card.ResponseType == CardType.FlashCard) // Flashcard mode
            {
            }
            else if (card.ResponseType == CardType.Short)
            {
                <input type="text" placeholder="Enter your best guess" />
            }
            else if (card.ResponseType == CardType.TrueFalse) // True/False
            {
                <MetadataControl ValueChanged="HandleAnswer" TModel="Card" Model="@AnswerLayout" Data="Cards"></MetadataControl>
            }
            else if (card.ResponseType == CardType.Multiple) // Multiple Choice
            {
                <MetadataControl ValueChanged="HandleAnswer" TModel="Card" Model="@AnswerLayout" Data="Cards"></MetadataControl>
            }
        </div>
    </div>
}


@code {

    private async Task HandleAnswer(Tuple<PropertyMetadata, Card, object?> selectedValue)
    {
        ValueChanged?.DynamicInvoke(selectedValue.Item3);
    }

}