@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@using Microsoft.EntityFrameworkCore
@using FlashCard.Services
@code
{

    [Parameter] public IEnumerable<Course>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    [Inject] public ILoginService? LoginService { get; set; }
}


@foreach (var course in Data ?? [])
{
    <div class="flex-row">
        <span><img src="@(course.LogoHosted ?? course.Logo?.Url)" /></span>
        <span>
            @if (LoginService?.User?.UserPacks.FirstOrDefault(up => up.PackId == course.Id) != null)
            {
                <a href="@(NavigationExtensions.GetUri<Pages.Landing.Pack>(p => new() { Id = course.Id, Mode = DataLayer.PackMode.Card }))">@course.Title</a>
            }
            else
            {
                <a href="@(NavigationExtensions.GetUri<Pages.Landing.Pack>(p => new() { Id = course.Id, Mode = DataLayer.PackMode.Demo }))">@course.Title</a>
            }
        </span>
        <span>
            @course.Category
            @if (!string.IsNullOrWhiteSpace(course.Subject))
            {
                <span>(@course.Subject)</span>
            }
        </span>
        <span>@course.Lessons.Count()</span>
        <span>@(LoginService?.User?.UserPacks.FirstOrDefault(up => up.PackId == course.Id)?.GetResponses(out var correct)?.LastOrDefault()?.Created.ToString("MMM dd") ?? "Never studied")</span>
        <span>
            <a href="@(NavigationExtensions.GetUri<Pages.Landing.Courses>(p => new() { ControlMode = DataLayer.ControlMode.Edit, Id = course.Id }))">
                <span class="bi bi-pencil"></span>
            </a>
            @if (LoginService?.User?.UserPacks.FirstOrDefault(up => up.PackId == course.Id) == null)
            {
                <a href="@(NavigationExtensions.GetUri<Pages.Landing.Packs>(p => new() { ControlMode = DataLayer.ControlMode.Add, Id = course.Id }))">
                    <span class="bi bi-check-circle-fill"></span>
                </a>
            }
        </span>
    </div>
}
