
@attribute [SupportsType(typeof(Pack))]
@attribute [SupportsType(typeof(IEnumerable<Pack>))]
@implements IHasMeta
@inject IQueryManager QueryManager
@inject ILoginService LoginService
@code
{

    [Parameter] public IEnumerable<object?>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public Action<object?>? ValueChanged { get; set; }

    public IEnumerable<FlashData.Entities.Course> Courses { get => Data?.OfType<FlashData.Entities.Course>() ?? []; }

    public IEnumerable<Pack> Packs { get => Data?.Cast<Pack>() ?? []; }
    public List<UserPack>? UserPacks { get; set; }
    public List<Response>? Responses { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        QueryManager.Query<UserPack>(up => up.UserId == LoginService.UserId).ToListAsync()
            .Then(async list => UserPacks = await list);
        QueryManager.Query<Response>(up => up.Created > DateTime.Now.AddDays(-32) && up.UserId == LoginService.UserId).ToListAsync()
            .Then(async list => Responses = await list);
    }

}


@foreach (FlashData.Entities.Course course in Courses)
{
    <div class="flex-row">
        <span><img src="@(course.LogoHosted @*?? course.Logo?.Url*@)" /></span>
        <span>
            @if (UserPacks?.FirstOrDefault(up => up.PackId == course.Id) != null)
            {
                <a href="@(TypeExtensions.GetUri<Pages.Landing.Pack>(p => new() { Id = course.Id, Mode = PackMode.Card }))">@course.Title</a>
            }
            else
            {
                <a href="@(TypeExtensions.GetUri<Pages.Landing.Pack>(p => new() { Id = course.Id, Mode = PackMode.Demo }))">@course.Title</a>
            }
        </span>
        <span>
            @course.Category
            @if (!string.IsNullOrWhiteSpace(course.Subject))
            {
                <span>(@course.Subject)</span>
            }
        </span>
        <span>@course.Lessons.Count()</span>
        <span>@(Responses?.LastOrDefault(up => up.Card?.PackId == course.Id)?.Created.ToString("MMM dd") ?? "Never studied")</span>
        <span>
            <a href="@(TypeExtensions.GetUri<Pages.Landing.Courses>(p => new() { Mode = ControlMode.Edit, Id = course.Id }))">
                <span class="bi bi-pencil"></span>
            </a>
            @if (UserPacks?.FirstOrDefault(up => up.PackId == course.Id) == null)
            {
                <a href="@(TypeExtensions.GetUri<Pages.Landing.Packs>(p => new() { Mode = ControlMode.Add, Id = course.Id }))">
                    <span class="bi bi-check-circle-fill"></span>
                </a>
            }
        </span>
    </div>
}
