@attribute [SupportsType(typeof(ResultCard))]
@attribute [SupportsType(typeof(IEnumerable<ResultCard>))]
@implements IHasMeta

@code
{

    public class ResultCard
    {
        [Category("Content")]
        [Display(Name = "Cards", GroupName = "Display", Description = "Card currently being viewed by the user")]
        public Card? Card { get; set; }
        [Category("Answers")]
        [JsonIgnore]
        public ICollection<Answer>? Answers { get => Card?.Answers; }
        [Category("Results")]
        [JsonIgnore]
        public Response? Response { get; set; }
    }

    [Parameter] public IEnumerable<object?>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public Action<object?>? ValueChanged { get; set; }

    public IEnumerable<ResultCard> Results { get => Data?.Cast<ResultCard>() ?? []; }
    //private IEnumerable<PropertyMetadata>? AnswerLayout;
    //private IEnumerable<PropertyMetadata>? CardLayout;

    protected override void OnInitialized()
    {
        //AnswerLayout = ResultCard.Metadata.Categories["Answers"]?.ToList();
        // TODO: AnswerLayout
    }

}


@foreach (ResultCard result in Results)
{
    <div class="card-back">
        <div class="preview-inner">
            @if (result.Card?.ContentType == DisplayType.Image)
            {
                <img src="@result.Card?.Content" />
            }
            else if (result.Card?.ContentType == DisplayType.Audio)
            {
                <audio controls src="@result.Card?.Content"></audio>
            }
            else if (result.Card != null)
            {
                <div class="preview-content">@(result.Card?.Content.Replace("\n", "<br/>"))</div>
            }
        </div>
        @if (result.Card?.Answers.Any(a => a.IsCorrect) == true)
        {
            <div class="preview-inner">
                <div class="preview-correct">Correct answer:</div>
                @*Show the users answer and the correct answer if they are both available*@
                @foreach (var answer in @result.Card?.Answers.Where(a => a.IsCorrect) ?? [])
                {
                    <div class="preview-response correct">@answer?.Content</div>
                }
                @if (result.Response != null && result.Response.Answer != null && !result.Response.Answer.IsCorrect)
                {
                    <div class="preview-correct">Your response:</div>
                    <div class="preview-response wrong">@result.Response.Value</div>
                }
            </div>
        }
        else if (result.Response != null && result.Response.Answer != null)
        {
            <div class="preview-inner">
                <div class="preview-correct">Your response:</div>
                @*Show the users answer and the correct answer if they are both available*@
                <div class="preview-response">@result.Response.Value</div>
            </div>
        }
        <div class="preview-prompt">
            @if (result.Card?.ContentType == DisplayType.Image)
            {
                <img src="@result.Card?.ResponseContent" />
            }
            else if (result.Card?.ContentType == DisplayType.Audio)
            {
                <audio controls src="@result.Card?.ResponseContent"></audio>
            }
            else if (Data != null && result.Card != null && result.Card?.ResponseContent != null)
            {
                <div class="preview-content">@(result.Card?.ResponseContent?.Replace("\n", "<br/>"))</div>
            }
        </div>

    </div>
}


@code {


}