@implements IDisposable
@implements IGenerator<FlashData.Entities.Course>

@page "/course"
@page "/course/{Level:int}"
@page "/course/{Level:int}/{Lesson}"
@page "/course/{Level:int}/{Lesson}/Intro"
@page "/course/{Level:int}/{Lesson}/Video"
@page "/course/{Level:int}/{Lesson}/Quiz"
@page "/course/{Level:int}/{Lesson}/Reward"
@page "/course/{Level:int}/{Lesson}/Investment"


@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Nav
@inject ITitleService TitleService
@inject IMenuService MenuService
@inject ICourseService CourseService
@inject IPageManager PageManager

<div class="flash-card @GetCurrentClass(StepMode.Intro)">
    @*TODO: change this to load dynamically from menu when i get bored of updating it*@
    @if (ActiveItem?.Course == typeof(Course1))
    {
        <Course1 Lesson="@ActiveItem.Lesson" />
    }
    else if (ActiveItem?.Course == typeof(Course2))
    {
        <Course2 Lesson="@ActiveItem.Lesson" />
    }
    else if (ActiveItem?.Course == typeof(Course3))
    {
        <Course3 Lesson="@ActiveItem.Lesson" />
    }
    <div class="highlighted-link">
        <button class="cta" @onclick="() => Next(StepMode.Video)">Start Lesson</button>
    </div>
</div>

<div class="flash-card @GetCurrentClass(StepMode.Video)">
    <div class="video-placeholder">Video content for @Lesson</div>
    <div class="highlighted-link">
        <button class="deemphasize back" @onclick="() => Next(StepMode.Intro)"><span class="bi bi-chevron-left"></span>Back</button>
        <button class="cta" @onclick="() => Next(StepMode.Quiz)">Take Quiz</button>
    </div>
</div>

@*TODO: need to stream this on the really big sets?*@
@for(var i = 0; i < CurrentQuiz?.Count(); i++)
{
    <div class="flash-card @(QuizStep == i + 1 || (PreviousStep == StepMode.Quiz && i == CurrentQuiz?.Count() - 1) ? "animate-out" : (Step == StepMode.Quiz && i == QuizStep) ? "animate-in" : "hidden")">
        <MetadataControl ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, Card, object?>>(this, OnQuizAnswered))" TModel="Card" Model="@CardLayout" Data="[CurrentQuiz?.ElementAt(i)]"></MetadataControl>
        <div class="highlighted-link">
            <button class="deemphasize back" @onclick="() => { 
                if(QuizStep > 0) {
                    QuizStep--;
                    InvokeAsync(StateHasChanged);
                }
                else
                    Next(StepMode.Video);
            }"><span class="bi bi-chevron-left"></span>Back</button>
            @if(CurrentQuiz?.ElementAt(i).ResponseType == CardType.FlashCard)
            {
                <a class="deemphasize" @onclick:preventDefault="true" @onclick:stopPropagation="true" @onclick="() => { QuizStep++; InvokeAsync(StateHasChanged); }">Tap or Swipe for answer</a>
            } else if (CurrentQuiz?.ElementAt(i).ResponseType == CardType.Short)
            {
                <button class="cta preview-tap" @onclick="() => { QuizStep++; InvokeAsync(StateHasChanged); }">Submit</button>
            }
            @if (Responses.Count() == CurrentQuiz?.Count())
            {
                <button class="cta" @onclick="() => Next(StepMode.Reward)">See Reward</button>
            }
        </div>
    </div>
}


<div class="flash-card @((PreviousStep == StepMode.Quiz && QuizStep == CurrentQuiz?.Count() - 1) ? "animate-out" : (Step == StepMode.Quiz && CurrentQuiz?.Count() == QuizStep) ? "animate-in" : "hidden")">
    <h2>Quiz Results:</h2>
    <MetadataControl TModel="Controls.ResultsCardControl.ResultCard" Model="@ResultLayout" Data="CurrentQuiz?.Select(card => new Controls.ResultsCardControl.ResultCard() {Card = card, Response = Responses.FirstOrDefault(r => r.Card == card)}).ToList()"></MetadataControl>
    <div class="highlighted-link">
        <button class="deemphasize back" @onclick="() => { QuizStep--; InvokeAsync(StateHasChanged); }"><span class="bi bi-chevron-left"></span>Back</button>
        @if (Responses.Count() == CurrentQuiz?.Count())
        {
            <button class="cta" @onclick="() => Next(StepMode.Reward)">See Reward</button>
        }
    </div>
</div>


<div class="flash-card @GetCurrentClass(StepMode.Reward)">
    <div class="reward">
        @if (ActiveItem?.Course == typeof(Course1))
        {
            <Course1Reward Lesson="@ActiveItem.Lesson" />
        }
        else if (ActiveItem?.Course == typeof(Course2))
        {
            <Course2Reward Lesson="@ActiveItem.Lesson" />
        }
        else if (ActiveItem?.Course == typeof(Course3))
        {
            <Course3Reward Lesson="@ActiveItem.Lesson" />
        }

    </div>
    <div class="highlighted-link">
        @*TODO: back to last quiz question?*@
        <button class="deemphasize back" @onclick="() => Next(StepMode.Quiz)"><span class="bi bi-chevron-left"></span>Back</button>
        <button class="cta" @onclick="() => Next(StepMode.Investment)">See Activity</button>
    </div>
</div>

<div class="flash-card @GetCurrentClass(StepMode.Investment)">
    <CourseInvestment Next="@Next" Lesson="@ActiveItem?.Lesson" />
</div>


@* Progress Tracker *@
@if (CurrentIndex != null && TotalCards != null)
{
    <ul class="tab-tracker">
        @for (var i = Math.Max((int)CurrentIndex - 2, 0); i < Math.Min((int)TotalCards, (int)CurrentIndex + 3); i++)
        {
            <li class="@(i == CurrentIndex ? "text-amber-500 text-xl" : "text-slate-300")">&bullet;
                <span>@(IndexToStep(i))</span>
            </li>
        }
    </ul>
    @*Add one for visual, CurrentIndex is zero based*@
    <div class="preview-count">@(CurrentIndex + 1) of @TotalCards</div>
}

@code {
    [JsonPropertyName("level")]
    [Parameter] public int? Level { get; set; }
    [JsonPropertyName("lesson")]
    [Parameter] public string? Lesson { get; set; }
    [JsonPropertyName("step")]
    public StepMode Step { get; set; } = StepMode.Intro;
    public StepMode? PreviousStep { get; set; } = null;

    [JsonPropertyName("quiz")]
    [Category("Display")]
    public IEnumerable<Card>? CurrentQuiz { get; set; }
    [JsonIgnore]
    [Category("Results")]
    public IEnumerable<Controls.ResultsCardControl.ResultCard>? Results { get; set; }
    private IEnumerable<PropertyMetadata>? CardLayout;
    private IEnumerable<PropertyMetadata>? ResultLayout;

    private List<Response> Responses = new();

    public ICourseMenuItem? ActiveItem { get; set; }
    public int? QuizStep { get; set; }
    public int? CurrentIndex { get => Step < StepMode.Quiz 
        ? (int)Step : Step > StepMode.Quiz
        ? (CurrentQuiz?.Count() + (int)Step) : ((int)Step + QuizStep); }
    // minus one because first step of quiz is the first question, UNDO minus one for quiz results page
    public int? TotalCards { get => Enum.GetValues<StepMode>().Count() + CurrentQuiz?.Count(); }
    public string? IndexToStep(int i) => i < (int)StepMode.Quiz 
        ? Enum.GetName<StepMode>((StepMode)i)?.ToString() : i > (CurrentQuiz?.Count() + (int)StepMode.Quiz) 
        ? Enum.GetName<StepMode>((StepMode)(i - CurrentQuiz!.Count()))?.ToString()
        : "Quiz " + (i - (int)StepMode.Quiz + 1);

    protected async Task OnQuizAnswered(Tuple<PropertyMetadata, Card, object?> valueChanged)
    {
        var answer = valueChanged.Item3 as Answer;
        if(answer == null) 
        {
            return;
        }
        var response = new Response() { 
            Answer = answer, 
            Value = answer.Content, 
            IsCorrect = answer.IsCorrect, 
            Card = valueChanged.Item2
        };
        Responses.Add(response);
        // takes us to results page
        //if(QuizStep + 1 < CurrentQuiz?.Count())
        {
            QuizStep++;
            await InvokeAsync(StateHasChanged);
        }
        //else 
        //{
        //    Next(StepMode.Reward);
        //}
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        CardLayout = typeof(Pages.Course.Course).Metadata().Categories["Display"]?.ToList();
        ResultLayout = typeof(Pages.Course.Course).Metadata().Categories["Results"]?.ToList();

        // TODO: make sure this goes through RemoteQuery on web assembly client
        //_ = LoadDataAsync();
        Nav.LocationChanged += OnLocationChanged;
        CourseService.OnStepChanged += OnStepChanged;
        CourseService.OnCourseChanged += OnCourseChanged;
        Console.WriteLine("Course initialized");
    }


    protected static IEnumerable<Card>? GetCurrentQuiz(Type? lesson)
    {
        var generator = lesson?.GetMethod(nameof(IGenerator<>.Generate), System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.Public);
        IEnumerable<Card>? cards = generator?.Invoke(null, []) as IEnumerable<Card>;
        return cards;
    }


    protected override async Task OnInitializedAsync()
    {
        //Context.Packs.Where(p => p.Id == 0).ToListAsync();
        await PageManager.RestoreState(this);
        OnSetCourseParameters();

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        OnSetCourseParameters();
        CurrentQuiz = GetCurrentQuiz(ActiveItem?.Lesson);
        PageManager.SetState(this);
    }


    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        OnSetCourseParameters();
    }

    protected void OnSetCourseParameters()
    {
        var newItem = CourseMenu.GetActiveItem(Level, Lesson);

        if (ActiveItem?.Course != newItem?.Course
            || ActiveItem?.Lesson != newItem?.Lesson)
        {
            CourseService.SetCourse(newItem);
            CourseService.SetStep(StepMode.Intro);
            return;
        }


        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        StepMode? newStep = null;
        if (segments.Count() >= 4)
        {
            newStep = segments[3].TryParse<StepMode>() ?? StepMode.Intro;
            if (newStep != Step)
            {
                CourseService.SetStep(newStep ?? StepMode.Intro);
            }
        }
    }

    protected string GetCurrentClass(StepMode step)
    {
        if (Step == step) return "animate-in";
        if (PreviousStep == step) return "animate-out";
        return "hidden";
    }

    protected void OnStepChanged(StepMode? step)
    {
        PreviousStep = Step;
        Step = step ?? StepMode.Intro;
        SetCourseTitle();
        InvokeAsync(StateHasChanged);
    }

    protected void OnCourseChanged(ICourseMenuItem? item)
    {
        PreviousStep = null;
        QuizStep = 0;
        ActiveItem = item;
        SetCourseTitle();
        InvokeAsync(StateHasChanged);
    }

    protected void SetCourseTitle()
    {
        TitleService.UpdateTitle(ActiveItem?.Title + " - " + Step.ToString());
        //Layout?.SetHeaderTitle(builder => builder.AddContent(0, ActiveItem?.Title + " - " + Step.ToString()));

        MenuService.SetMenu(@<FlashCard.Pages.Shared.Course Step="@((int)Step)" Level="@Level" Lesson="@Lesson" />);
    
        if (ActiveItem?.Lesson != null)
        {
            //_ = LoadDataAsync();
            //CurrentQuiz = new PackControl.ViewPack { Pack = Context.Packs.Where(p => p.Title == ActiveItem.Lesson.Name).FirstOrDefault() };
        }

    }
    
    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
        CourseService.OnStepChanged -= OnStepChanged;
        CourseService.OnCourseChanged -= OnCourseChanged;
    }

    private void Next(StepMode nextStep) => Nav.NavigateTo<Pages.Course.Course>(c => new() { Level = ActiveItem != null ? ActiveItem.Level : 1, Lesson = ActiveItem != null && ActiveItem.Lesson != null ? ActiveItem.Lesson.Name.ToSafe() : "", Step = nextStep });

    private void Finish() { /* Navigate back or to next lesson */ }

    public static IEnumerable<FlashData.Entities.Course> Generate()
    {
        var ss = new FlashData.Entities.Course() { 
            Title = "Study Sauce",
            LogoHosted = "/_content/FlashCard/studysauce-icon-76x76.png",
            Subject = "Studying",
            Description = "Course topics:\nStudying\nTaking tests\nSpaced repetition"
        };
        ss.Courses = ((Type[])[typeof(Course1), typeof(Course2), typeof(Course3)]).Select(type => CourseMenu.GetCourse(typeof(Course3)))
            .Select(mi => new FlashData.Entities.Course()
                {
                    Parent = ss,
                    Title = "Study Sauce: " + mi?.Title,
                    LogoHosted = "/_content/FlashCard/studysauce-icon-76x76.png",
                    Subject = "Studying",
                    Description = "Course topics:\n* " + string.Join("\n* ", mi?.Children.Select(ci => ci.Title) ?? [])
                }).ToList();
        return [ss];
    }
}