@using Atrium.Services
@using Interfacing.Services
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.Routing
@inject ITrustProvider Trust
@implements IDisposable
@inject NavigationManager Nav
@inject IServiceProvider Service
@inject ITrustProvider Trust

@if (FirstTimeLoad || DefaultLayout == null || AppAssembly == null)
{
    <div class="page login-mode cover-page @(Ready)">
        <main>
            <article class="content course-container">
                @*TODO: make this a component that can inject itself into a settings page*@
                <Atrium.Components.PluginsPage />
            </article>
        </main>
    </div>
}
else
{
    @*Replace this with a dynamic page builder*@
    
    <CascadingValue Value="FirstTimeLoad" Name="@nameof(FirstTimeLoad)">
        <CascadingValue Value="PermissionType" Name="@nameof(PermissionType)">
            @RenderWithPermission()
        </CascadingValue>
    </CascadingValue>

}

@code {

    private RenderFragment RenderWithLayout() => __builder =>
    {
        <Router AppAssembly="@AppAssembly" AdditionalAssemblies="@Trust.LoadedAssemblies.Values">
            <Found Context="routeData">
                @if (AuthService != null)
                {
                    @CreatePermissionContent(routeData)
                }
                else
                {
                    <RouteView RouteData="routeData" DefaultLayout="@DefaultLayout" />
                    <FocusOnNavigate RouteData="routeData" Selector="h1" />
                }
            </Found>
            <NotFound>
                <LayoutView Layout="DefaultLayout">
                    @BuildNotFound()
                </LayoutView>
            </NotFound>
        </Router>
    };

    private RenderFragment RenderWithoutLayout() => __builder =>
    {
        <Router AppAssembly="@AppAssembly">
            <Found Context="routeData">
                @if (AuthService != null)
                {
                    @CreatePermissionContent(routeData)
                }
                else
                {
                    <RouteView RouteData="routeData" />
                    <FocusOnNavigate RouteData="routeData" Selector="h1" />
                }
            </Found>
            <NotFound>
                @BuildNotFound()
            </NotFound>
        </Router>
        
    };


}