@page "/plugins"
@using Interfacing.Services
@using System.ComponentModel.DataAnnotations
@inject ITrustProvider Trust
@attribute [Display(Name = "System Components", ShortName = "Plugins", GroupName = "Administration", Prompt = "bi-puzzle-fill")]
@inject IServiceProvider Service

<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.25 3.9V12.92C11.25 13.25 11.09 13.55 10.82 13.74L3.61 18.79C3.02 19.2 2.18 18.88 2.05 18.17C1.9 17.31 2.1 16.3 2.7 15.21L5.82 9.6L8.76 4.31C8.99 3.9 9.24 3.54 9.5 3.23C10.1 2.53 11.25 2.98 11.25 3.9Z" fill="#292D32" />

    <path d="M20.39 18.79L13.18 13.74C12.91 13.55 12.75 13.25 12.75 12.92V3.9C12.75 2.98 13.9 2.53 14.5 3.23C14.76 3.54 15.01 3.9 15.24 4.31L18.18 9.6L21.3 15.21C21.9 16.3 22.1 17.31 21.95 18.17C21.82 18.88 20.98 19.2 20.39 18.79Z" fill="#292D32" />

    <path d="M5.26 19.14L11.41 15.04C11.74 14.82 12.28 14.82 12.61 15.04L18.76 19.14C20.39 20.23 20.12 21.12 18.16 21.12H5.85C3.9 21.11 3.63 20.22 5.26 19.14Z" fill="#292D32" />
</svg>
<table>
    <tr>
        <td colspan="3">
            <button class="cta">Save and Continue</button><br />
            @(Error != null ? Error : Trust.IsBootstrapping ? ("Scanning plugins... " + Scanning) : "Ready")
        </td>
    </tr>
    <tbody>
        @foreach (var (file, plugin) in Trust.DiscoveredStatus ?? [])
        {
            <tr>
                <td class="name-col">
                    <strong>@plugin.Title</strong><br />
                    <span class="product-tag">@plugin.Metadata.Product</span>
                </td>

                <td class="meta-col">
                    <small>Pkg: @plugin.Metadata.Package</small><br />
                    <small>Pub: @plugin.Metadata.Company @plugin.Metadata.Publisher</small>
                </td>
                    
                <td class="enable-col">
                    @if(LoadedAssemblies.TryGetValue(Path.GetFileNameWithoutExtension(plugin.InstallPath), out var ass)
                        && RequiredAssemblies.Contains(ass.GetName().Name ?? ass.GetName().FullName))
                    {
                        <span>Required</span>
                    }
                    else if (DependedAssemblies.TryGetValue(Path.GetFileNameWithoutExtension(plugin.InstallPath), out var requirees))
                    {
                        <label class="switch" aria-disabled="true">
                            <input type="checkbox" disabled="disabled" checked="checked" />
                        </label>
                        <span>Required By:</span><br />
                        @foreach (var required in requirees)
                        {
                            <span>@required</span><br />
                        }
                    }
                    else
                    {
                        <label class="switch">
                            <input type="checkbox" onchange="@((ChangeEventArgs args) => OnEnabled(plugin, args))" checked="@(GetActive(plugin))" />
                        </label>
                    }
                </td>
            </tr>
            @if (LoadedAssemblies.ContainsKey(Path.GetFileNameWithoutExtension(plugin.InstallPath)))
            {
                
            }
        }
    </tbody>
</table>



@code {
    private bool _showSplash = true;
    protected string Ready = "loading";
    private static Dictionary<string, Assembly>? StoredAssemblies = null;
    private static Dictionary<string, Assembly> LoadedAssemblies 
    {
        get => StoredAssemblies ??= AppDomain.CurrentDomain
        .GetAssemblies().ToDictionary(
            ass => Path.GetFileNameWithoutExtension(ass.Location)
            ?? ass.FullName?.Split(',')[0]
            ?? ass.GetName().Name
            ?? ass.GetName().FullName.Split(',')[0],
            ass => ass);
    }

    private static List<string> RequiredAssemblies = new List<AssemblyName?>
        { Assembly.GetEntryAssembly()?.GetName(),
          Assembly.GetExecutingAssembly().GetName(),
        }.Concat(Assembly.GetEntryAssembly()?.GetReferencedAssemblies() ?? [])
        .OfType<AssemblyName>()
        .Select(n => n.Name ?? n.FullName)
        .ToList();


    private bool GetActive(PluginContract e)
    {
        var ass = Path.GetFileNameWithoutExtension(e.InstallPath);
        if (EnabledAssemblies.ContainsKey(ass))
            return true;
        if (LoadedAssemblies.ContainsKey(ass))
            return true;
        return false;
    }

    protected string? Error = null;

    private void OnEnabled(PluginContract plugin, ChangeEventArgs e)
    {
        Error = null;
        var isChecked = (bool)(e.Value ?? false);
        var ass = Path.GetFileNameWithoutExtension(plugin.InstallPath);
        if (!isChecked)
            EnabledAssemblies.Remove(ass);
        else
            EnabledAssemblies.Add(ass, true);
        try
        {
            var loaded = AppDomain.CurrentDomain.Load(new AssemblyName(ass));
            if (loaded == null) return;
            // temporary whatever
            LoadedAssemblies.TryAdd(ass, loaded);
        }
        catch (Exception ex)
        {
            // do something statusy
            Error = ex.Message;
        }

        // TODO: if the component has visual elements, activate window size from splash mode
        if (Service.GetService<Lazy<Application?>>()?.Value is IHasWindow window && !window.IsSplashMode)
        {
            if(EnabledAssemblies.Count == 0)
                window.ExpandWindow(false);
            else
                window.ExpandWindow(true);
        }

        InvokeAsync(StateHasChanged);
    }

    private static Dictionary<string, bool> EnabledAssemblies { get; } = [];

    private static List<Assembly> EnabledAssMappings { get
        => [..EnabledAssemblies.Keys
        .Select(ass => LoadedAssemblies.TryGetValue(ass, out var loaded) ? loaded : null)
        .OfType<Assembly>()];
    }

    private static Dictionary<string, List<string>> DependedAssemblies { 
        get => EnabledAssMappings
        .SelectMany(parentAss =>
            parentAss.GetReferencedAssemblies()
                .Select(refAss => new
                {
                    Parent = parentAss.GetName().Name ?? parentAss.GetName().FullName,
                    Dependency = refAss.Name ?? refAss.FullName
                }))
        // Filter out null names if any
        .Where(x => x.Parent != null && x.Dependency != null)
        // Group by the Dependency (The "Required" assembly on the left)
        .GroupBy(x => x.Dependency)
        .ToDictionary(
            g => g.Key, // The Required Assembly (The "Source")
            g => g.Select(x => x.Parent).Distinct().ToList() // The "Requirees" (The "Dependents")
        );
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Check local storage or your ILocalStore to see if this is the first run
        // or if we should skip the splash.
        var isFirstRun = true; // Use your ILocalStore service here
        _showSplash = isFirstRun;
        Trust.OnAssemblyLoaded += NotifyAssembly;
    }

    private void HandleOnComplete()
    {
        _showSplash = false;
        StateHasChanged();
    }

    private string? Scanning = null;

    protected void NotifyAssembly(PluginContract file)
    {
        Ready = "loaded";
        Scanning = file.InstallPath;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Trust.OnAssemblyLoaded -= NotifyAssembly;
        GC.SuppressFinalize(this);
    }

}
