@page "/error"
@page "/console"
@attribute [AllowAnonymous]
@using FlashCard.Services
@implements IDisposable
@inject IPageManager PageManager
@inject IFormFactor Form

<div class="flash-card dev-console @(Embedded == true ? "embedded" : "") animate-in @(_isExpanded ? "expanded" : "collapsed")">
    <div class="console-header" @onclick="Toggle">
        <span>Dev Console (@Services.PageManager.Immediate.Count)<br />@(Form.GetFormFactor())</span>
        <button class="cta" @onclick:stopPropagation @onclick="Clear">Clear</button>
    </div>

        <div class="console-body">
            @foreach (var error in /*Logger.Errors.OrderByDescending(e => e.Timestamp)*/ Services.PageManager.Immediate.TakeLast(3))
            {
                <div class="error-entry">
                    <div class="entry-header">
                        <strong>@error.Created.ToString("HH:mm:ss")</strong> - @error.Exception.Message
                    </div>
                @if (_isExpanded)
                {
                    <div class="entry-details">
                        <p><strong>Type:</strong> @error.Exception.Source</p>
                        <p><strong>Source:</strong> <pre>@error.Exception.Source</pre></p>
                        <details>
                            <summary>Stack Trace</summary>
                            <pre>@(error.Exception.StackTrace ?? error.Exception.Data["OriginalStack"])</pre>
                        </details>
                    </div>
                }
                </div>
            }
        </div>
</div>

@code {
    [Parameter] public bool? Embedded { get; set; }
    private bool _isExpanded = false;
    private void Toggle() => _isExpanded = !_isExpanded;
    private void Clear()
    {
        // Logger.Errors.Clear();
    }
    
    public void SetError(Exception? error)
    {
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        //Logger.OnErrorAdded += Refresh;
        PageManager.OnErrorChanged += SetError;
    }
    private void Refresh() => InvokeAsync(StateHasChanged);
    public void Dispose()
    {
        //Logger.OnErrorAdded -= Refresh;
        PageManager.OnErrorChanged -= SetError;
    }
}