
@inherits LayoutComponentBase
@implements IDisposable
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject IMenuService MenuService
@inject IThemeService ThemeService
@inject ITitleService TitleService
@inject IServiceProvider Service
@inject IPageManager PageManager
@inject IFormFactor Form
@inject IRenderState RenderState
@inject ILoggerFactory LoggerFactory
@inject NavigationManager Nav
@*@inject AuthenticationStateProvider AuthProvider*@

<div class="page @(string.Join(" ", PageManager.ClassNames))">
    <div id="theme-sensor" style="display:none;">
        <span class="sensor-bg"></span>
        <span class="sensor-surface"></span>
        <span class="sensor-primary"></span>
        <span class="sensor-secondary"></span>
        <span class="sensor-accent"></span>
        <span class="sensor-main"></span>
        <span class="sensor-stone"></span>
        <span class="sensor-nature"></span>
        <span class="sensor-electric"></span>
        <span class="sensor-gold"></span>
    </div>

    <div class="canvas-container">
        <canvas id="lichtenbergCanvas"></canvas>
    </div>
    <div class="sidebar theme-@(Sidebar.ToString()?.ToLowerInvariant())">
        <NavMenu />
    </div>
    
    @foreach (var item in PageManager.State)
    {
        <input type="hidden" name="state_@item.Key" value="@item.Value" />
    }

    @if (ShowHeader != false)
    {
        <header class="top-row px-4">
            @if (HeaderTitle != null)
            {
                <h2>@HeaderTitle</h2>            
            }
            @if (HeaderMenu != null)
            {
                <div class="contextual-menu">
                    @HeaderMenu
                </div>
            }
            @if (HeaderMenu == null && HeaderTitle == null)
            {
                <span>&nbsp;</span>
            }
        </header>
    }
    <main>
        
        <article class="content course-container">
            @if (_previousBody != null)
            {
                <div class="flash-card @(_isTransitioning ? "animate-out" : "")">
                    @(_previousBody)
                </div>
            }
            @_activeBody
        </article>

        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                
            </ChildContent>
            <ErrorContent>
                <article class="content course-container">
                    <div class="flash-card hip-error-trace">
                        <h3>Something went sideways.</h3>
                        <p>the Task failed successfully.</p>
                        <button @onclick="() => _errorBoundary?.Recover()">Try Again</button>
                    
                        <pre>@_lastException?.StackTrace</pre>
                    </div>
                </article>
            </ErrorContent>
        </ErrorBoundary>


    </main>

    @*TODO: insert services through page manager*@
    @foreach(var currentLayout in MenuService.EnabledLayouts)
    {
        var myDelegate = currentLayout.GetProperties(nameof(IHasLayout.LayoutInsert)).First().GetValue(null) as Delegate;
        if (myDelegate == null || (Nullable.GetUnderlyingType(myDelegate.Method.ReturnType)
        ?? myDelegate?.Method.ReturnType)?.Extends(typeof(RenderFragment)) != true)
            throw new InvalidOperationException("Context delegate must return a RenderFragment" + myDelegate?.Method);
        var fragment = myDelegate.InvokeService(Service) as RenderFragment;
        @fragment
    }

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<dialog id="components-reconnect-modal">

</dialog>

@code {
    public RenderFragment? HeaderMenu { get; private set; }
    public string? HeaderTitle { get; private set; }
    //public object? Tag { get; set; } // for comparing states for implementers
    public bool? ShowHeader { get; set; }
    public bool? ShowChat { get; set; }
    [CascadingParameter] private ErrorBoundary? _errorBoundary { get; set; }
    private Exception? _lastException;
    private Dictionary<string, object> _componentInstances = new();

    /*
     * This is so fucking dumb this isn't more obvious like Nav.GetComponent(route);
     * what the fuck is Microsoft thinking?
    public Type? GetPageTypeFromUrl(string url)
    {
        // 1. Get the relative path
        var relativeUri = Nav.ToBaseRelativePath(url);

        // 2. Access the Route Options / Discovery service
        // This is the same engine the Router uses
        var routeOptions = ServiceProvider.GetRequiredService<IOptions<RazorPagesOptions>>();

        // Note: In pure WASM, you usually have to reflect into the
        // assembly to find the [Route] attributes yourself if you want
        // to bypass the Router component entirely.
        return typeof(Program).Assembly.GetTypes()
        .FirstOrDefault(t => t.GetCustomAttributes<RouteAttribute>()
        .Any(r => r.Template.Equals("/" + relativeUri, StringComparison.OrdinalIgnoreCase)));
        }
    */
    private LinkedList<MarkupString?> _previousList = new();
    private MarkupString? _previousBody = null;
    private RenderFragment? _activeBody;
    private RenderFragment? _nextBody;
    private bool _isTransitioning;

    private IDisposable? _registration;
    

    private bool PageHasChanged = true;

    protected async Task UnvaluedTask(CancellationToken ct = default)
    {
        await InvokeAsync(StateHasChanged);
        await Task.Delay(100);


        _isTransitioning = true;
        ct.ThrowIfCancellationRequested();
        {
            await InvokeAsync(StateHasChanged);
        }

        await Task.Delay(400);
        if (PageManager.InFlight.ContainsKey(Form.ConnectionId))
            PageManager.InFlight.Remove(Form.ConnectionId);

        _isTransitioning = false;
        _previousList.Clear();
        _previousBody = null;
        if (_nextBody != null && !ct.IsCancellationRequested)
        {
            _activeBody = _nextBody;
        }
        _nextBody = null;
        _cts?.Dispose();
        _cts = null;
        ct.ThrowIfCancellationRequested();
        {
            await InvokeAsync(StateHasChanged);
        }


        if (!IsClosing && PageHasChanged)
        {
            //_activeBody.Component()?.JSInvokable();
            await this.Mirror();
            PageHasChanged = false;
        }

    }



    private async ValueTask HandleLocationChanging(LocationChangingContext context)
    {
        var currentUri = Nav.ToAbsoluteUri(Nav.Uri).PathAndQuery.TrimEnd('/');
        var targetUri = Nav.ToAbsoluteUri(context.TargetLocation).PathAndQuery.TrimEnd('/');

        if (currentUri == targetUri)
        {
            return; // Exact same page, do nothing and let Blazor handle it
        }
        PageHasChanged = true;

        var (targetType, targetParams) = TypeExtensions.IdentifyNavigation(targetUri);
        var (currentType, currentParams) = TypeExtensions.IdentifyNavigation(currentUri);

        if (targetType == currentType)
        {
            return; 
        }

        // never wrap study-now
        if(currentType.Extends(typeof(INotHasWrapper)))
        {
            _previousList.AddLast((MarkupString?)null);
            return;
        }


        _previousList.AddLast(await PageManager.Copy(_activeBody, Service));
    }

    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (_previousBody == null)
        {
            _previousBody = _previousList.FirstOrDefault();
            _previousList.Clear();
        }
        SetPageClass();
    }

    private void SetPageClass()
    {
        string[] PageClass;
        if (string.IsNullOrWhiteSpace(Nav.Uri.Trim('/'))) PageClass = ["Home"];
        else PageClass = Nav.ToBaseRelativePath(Nav.Uri.Split('?')[0]).Split('/')
                .Select(seg => seg.ToSafe())
                .ToArray();
        var toRemove = PageManager.ClassNames.Keys
            .Where(c => c.Substring(0, 11) != "background-" && c.Substring(0, 6) != "theme-" 
                && c != "study-mode" && c != "chatting" && c != "login-mode" && c != "page")
            .ToList();
        foreach (var remove in toRemove)
            PageManager.ClassNames.TryRemove(remove, out _);
        foreach (var add in PageClass)
            PageManager.ClassNames.TryAdd(add, add);
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        // Subscribe to the push event
        _registration = Nav.RegisterLocationChangingHandler(HandleLocationChanging);
        Nav.LocationChanged += OnLocationChanged;
        Form.OnTitleChanged += SetTitle;
        ThemeService.OnApplicationChanged += SetApplication;
        ThemeService.OnSidebarChanged += SetSidebar;
        PageManager.OnStateChanged += SetState;
        PageManager.OnErrorChanged += SetError;
        RenderState.NotifyEmptied();

        //AuthProvider.AuthenticationStateChanged += (task) =>
        //{
        // If this line never hits when you login, the UI is NOT
        // subscribed to the instance you are calling Notify on.
        //Console.WriteLine("UI received Auth Change Notification!");
        //};
        SetPageClass();
    }

    public void SetState(IComponent? state)
    {
        if(state == null)
        {
            return;
        }
        InvokeAsync(StateHasChanged);
    }

    public void SetError(Exception? error)
    {
        _lastException = error;
        InvokeAsync(StateHasChanged);
    }




    private void SetApplication(ApplicationTheme? theme)
    {
        if (PageManager.ClassNames.Keys.FirstOrDefault(k => k.Contains("theme-")) is string bg)
            PageManager.ClassNames.TryRemove(bg, out _);
        var newClass = "theme-" + (theme.ToString()?.ToLowerInvariant() ?? string.Empty);
        PageManager.ClassNames.TryAdd(newClass, newClass);
        InvokeAsync(StateHasChanged);
    }


    public SidebarTheme? Sidebar { get; set; }

    private void SetSidebar(SidebarTheme? theme)
    {
        if (theme != Sidebar)
        {
            Sidebar = theme;
            InvokeAsync(StateHasChanged);
        }
    }


    public AnimationMode? Background { get; set; } = AnimationMode.none;
    public bool initRender { get; set; } = true;

    private void SetBackground(AnimationMode? theme)
    {
        if (theme != Background)
        {
            Background = theme;
            initRender = true;
            if(PageManager.ClassNames.Keys.FirstOrDefault(k => k.Contains("background-")) is string bg)
                PageManager.ClassNames.TryRemove(bg, out _);
            var newClass = "background-" + (theme.ToString()?.ToLowerInvariant() ?? string.Empty);
            PageManager.ClassNames.TryAdd(newClass, newClass);
            InvokeAsync(StateHasChanged);
            _ = InitializeRender();
        }
    }


    private void SetTitle(string? title)
    {
        if (HeaderTitle != title)
        {
            HeaderTitle = title;
            InvokeAsync(StateHasChanged);
        }
    }

    CancellationTokenSource? _cts = null;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();


        if (!_isTransitioning)
        {
            _activeBody = Body;
        }
        // so it doesn't show right away until the previous page is gone to reduce the weird stack sliding effect
        else
        {
            _nextBody = Body;
        }
        if(_cts != null)
        {
            _cts?.Cancel();
        }
        _cts = new CancellationTokenSource();
        _ = UnvaluedTask(_cts.Token).Forget();
    }

    public bool IsClosing = false;

    public void Dispose()
    {
        IsClosing = true;
        if (_cts != null)
        {
            _cts?.Cancel();
        }

        // Unsubscribe to prevent memory leaks
        _registration?.Dispose();
        Nav.LocationChanged -= OnLocationChanged;
        Form.OnTitleChanged -= SetTitle;
        ThemeService.OnApplicationChanged -= SetApplication;
        ThemeService.OnSidebarChanged -= SetSidebar;
        ThemeService.OnBackgroundChanged -= SetBackground;
        PageManager.OnStateChanged -= SetState;
        PageManager.OnErrorChanged -= SetError;
    }


    private IJSObjectReference? _animationCts;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            RenderState.NotifyRendered(JS);
        }

        if (!initRender || Background == null)
        {
            return;
        }

        _ = InitializeRender();
    }


    protected async Task InitializeRender()
    {
        initRender = false;

        if (_animationCts != null)
        {
            _ = _animationCts.InvokeVoidAsync("dispose");
            _ = _animationCts.DisposeAsync();
            _animationCts = null;
        }

        // still pass None to page manager to turn off
        //if (Background == AnimationMode.None)
        //{
        //    return;
        //}

        if (Background.HasValue)
            _ = PageManager.InitializeBackground(Background.Value.ToString().ToLower(), "lichtenbergCanvas");
    }

    public async ValueTask DisposeAsync()
    {
        RenderState.NotifyEmptied();
        if (_animationCts != null)
        {
            _ = _animationCts.InvokeVoidAsync("dispose");
            _ = _animationCts.DisposeAsync();
            _animationCts = null;
        }
    }
}