@page "/home"
@using static FlashData.Entities.UserPack
@using FlashData.Extensions
@implements INotHasWrapper
@attribute [Display(Name = "Study Now", ShortName = "Home", GroupName = "Main", Prompt = "bi-house-door-fill")]
@attribute [AllowAnonymous]
@inject IFormFactor FormFactor
@inject IMenuService MenuService
@inject IQueryManager Query
@inject ILoginService LoginService


<a class="big-button" href="@(TypeExtensions.GetUri<Pages.Landing.Pack>(p => new() {Mode = PackMode.Shuffle}))">
    <span>
        <img width="48" height="48" src="_content/FlashCard/logo_4_trans_2.png" alt="LOGO" />
        <span>Shuffle</span>
    </span>
</a>

<div class="study-now">
    <h2><a href="@(TypeExtensions.GetUri<Pages.Landing.Pack>(p => new() { Mode = PackMode.Shuffle }))">Start studying now</a></h2>
    @*@if (LoginService.User == null)
    {
        <h3><a href="@(TypeExtensions.GetUri<Pages.Landing.Login>())">Login to track progress</a></h3>
    }
    *@
    @if (LoginService.User == null || PacksDue?.Count == 0)
    {
        <h4><a href="@(TypeExtensions.GetUri<Pages.Landing.Packs>())">Subscribe to packs to memorize content quickly.</a></h4>
    }
    else
    {
        <heading class="study-row">
            <label>Pack Title</label>
            <label>Card Count</label>
        </heading>
        foreach (var up in PacksDue ?? [])
        {
            <div class="study-row">
                <span><a href="@(TypeExtensions.GetUri<Pages.Landing.Pack>(p => new() { Id = up.Key.PackId, Mode = PackMode.Card }))">@up.Key.Pack?.Title</a></span>
                <span>@(up.Value)</span>
            </div>
        }
    }
</div>

<br />
<br />


@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    [CascadingParameter(Name = "IsStaticRender")] public bool IsStaticRender { get; set; }

    public List<UserPack>? UserPacks { get; set; }
    public Dictionary<int, CardRetention>? Retention { get; set; }
    public Dictionary<UserPack, int>? PacksDue { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (IsStaticRender) return;
        Task.WhenAll(
            Query.Query<UserPack>(up => up.UserId == LoginService.UserId)
                .ToListAsync()
                .Then(async ups => UserPacks = await ups),
            Query.Query<Response>(r => r.UserId == LoginService.UserId && r.Created > DateTime.Now.AddDays(-32))
                .ToListAsync()
                .Then(async ups => Retention = (await ups).GetRetention(LoginService.UserId))
        ).Then(t => PacksDue = UserPacks?
            .Select(up => KeyValuePair.Create(up, up.Pack?.Cards.Count(c => Retention?.ContainsKey(c.Id) == true) ?? 0))
            .Where(up => up.Value > 0)
            .ToDictionary());
        //MenuService.SetMenu(null);
        //MenuService.SetHeader(false);
    }
}
