@page "/login"
@page "/login/callback"
@page "/login/callback/{ServiceId}"
@page "/logout"
@page "/access-denied"
@implements IDisposable
@attribute [AllowAnonymous]
@inject IMenuService MenuService
@inject ILoginService LoginService
@inject IAuthService AuthService
@inject IQueryManager QueryManager
@inject NavigationManager Nav
@inject IPageManager PageManager

<SyncedTitle Title="User Login"></SyncedTitle>

@if (string.Equals(Nav.ToBaseRelativePath(Nav.Uri).Split('/').FirstOrDefault(), "access-denied"))
{
    <NotFoundControl />
    return;
}

<div class="flash-card">
    <h2>Who is using the app?</h2>
    <div class="user-list">
        @foreach(var user in Users ?? [])
        {
            <div class="user-avatar">
                <a @onclick="() => HandleLogin(user)">
                    @if (user.PhotoHosted != null || user.Photo?.Url != null)
                    {
                        <img src="@(user.PhotoHosted ?? user.Photo?.Url)" />
                    } else
                    {
                        <span style="@GetBackgroundColor(user)" class="bi bi-person-circle"></span>
                    }
                    <span>@user.FirstName @user.LastName</span>
                    <span>@user.Username</span>
                </a>
                <span><a href=""><span class="bi bi-pencil"></span></a></span>
            </div>
        }
    </div>
</div>


@code {
    [Parameter] public string? ServiceId { get; set; }
    public IEnumerable<User>? Users { get; set; }
    [SupplyParameterFromQuery(Name = "returnUrl")]
    [Parameter] public string? ReturnUrl { get; set; }
    private User? ClickedUser { get; set; } = null;

    public string GetBackgroundColor(User user)
    {
        if (Users == null) return "blue";
        var index = Users.ToList().IndexOf(user);
        var (r, g, b) = RgbToHslTools.HslToRgb((360 / (Users.Count() + 1)) * index, 0.5, 0.5);
        return $"background-color:#{(int)r:X2}{(int)g:X2}{(int)b:X2};";
    }

    protected async Task HandleLogin(User user)
    {
        ClickedUser = user;
        // save the built ins on first login
        try
        {
            if (user.CanonicalFingerprint == null
                && UserData.Generators.Users.Generate().Any(u => string.Equals(u.Username, user.Username)))
            {
                //await user.Roles.First().Update();
                user.Roles.Add(await QueryManager.Update<Role>(r => r.Name == nameof(DefaultRoles.Admin)));
                await user.Save(QueryManager);
            }

        } 
        catch (Exception ex)
        {
            Log.Error("Role init failed." + ex.Message);
        }

        // 1. Create the Claims for this user
        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name, user.Email ?? ""),
            new Claim(ClaimTypes.GivenName, user.FirstName ?? ""),
            new Claim(ClaimTypes.Surname, user.LastName ?? ""),
            new Claim(ClaimTypes.NameIdentifier, user.Username ?? ""),
            new Claim(ClaimTypes.Sid, user.Guid ?? ""),
        };

        Console.WriteLine("User logging in: " + user.Username);

        foreach(var role in user.Roles)
        {
            if (role.Name == null) continue;
            claims.Add(new Claim(ClaimTypes.Role, role.Name));
            break;
        }

        var identity = new ClaimsIdentity(claims, "AtriumAuth");
        var principal = new ClaimsPrincipal(identity);

        // 2. Call the provider to save to DB and set the Cookie
        await AuthService.MarkUserAsAuthenticated(principal);

        // automatically synchronized through LoginService
        // 3. UI logic
        //_ = LoginService.SetUser(user);
        //_ = LoginService.SetLoginMode(false);

        // this is cool because if they login with QR code it will automatically reroute
        //if(ReturnUrl != null)
        //{
        //    Nav.NavigateTo(ReturnUrl);
        //    return;
        //}
        //Nav.NavigateTo("/"); // Use your TypeExtensions or standard Nav
    }


    [CascadingParameter(Name = "IsStaticRender")] public bool IsStaticRender { get; set; }

    protected override void OnInitialized()
    {
        if (IsStaticRender) return;
        // Equivalent to: Source={x:Static data:EntityMetadata.User.Categories[Login Info]}
        // We assign the specific "Login Info" object to the Model property
        //CurrentCategory = EntityMetadata.User.Groups["Login Info"]?.ToList();
        MenuService.SetMenu(null);
        MenuService.SetHeader(false);
        PageManager.ClassNames.TryAdd("login-mode", "login-mode");
        LoginService.SetLoginMode(true);
        LoginService.SetUser(null);
        LoginService.OnUserChanged += SetUser;
    }


    public void SetUser(User? user)
    {
        // this is cool because if they login with QR code it will automatically reroute
        if (user != null
            && !user.Roles.Any(r => r.Name == nameof(DefaultRoles.Guest))
            || ClickedUser?.Guid == user?.Guid) // principal said it was good anyways
        {
            LoginService.SetLoginMode(false);

            if (ReturnUrl != null)
                Nav.NavigateTo(ReturnUrl);
            else
                Nav.NavigateTo("/"); // Use your TypeExtensions or standard Nav
        }
    }

    public void Dispose()
    {
        LoginService.OnUserChanged -= SetUser;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Users = UserData.Generators.Users.Generate();
        InvokeAsync(StateHasChanged);
    }
}
